header {
    background-color: rgba(46, 204, 113, 0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

.menu.left,
.menu.right {
    align-items: center;
}

.logo img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #16a085;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    min-width: 150px;
    z-index: 2000;
    padding: 10px 0;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu li {
    padding: 8px 16px;
    cursor: pointer;
}

.dropdown-menu li a {
    color: black;
    text-decoration: none;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
}

.dropdown {
    position: relative;
}

/* HAMBURGER */
.burger {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

@media (max-width: 779px) {
    .menu-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .logo img {
        height: 75px;
        width: 75px;
        border-radius: 50%;
        border: 3px solid white;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    }

    .burger {
        display: block;
        font-size: 28px;
        color: white;
        cursor: pointer;
        margin-left: auto;
    }

    .menu {
        flex-direction: column;
        display: none;
        width: 100%;
        gap: 15px;
        padding: 10px 20px;
        border-radius: 8px;
        margin-top: 10px;
    }

    .menu.show {
        display: flex;
    }

}

/* Footer */
footer {
    margin-top: 30px;
    background-color: #2ecc71;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}
